 @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
:root{
    --orange:hsl(31, 77%, 52%);
    --cyan: hsl(184, 100%, 22%);
    --cyan2: hsl(179, 100%, 13%);
    --white:hsla(0, 0%, 100%, 0.75);
    --light:hsl(0, 0%, 95%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family:"Lexend Deca", sans-serif;
}
.container {
    width: 90%;
    height: 400px;
    margin: 100px auto;
    background-color: #eee;
    border-radius: 12px;
    display: flex;
}
@media (max-width: 767px) {
    .container{
        flex-direction: column;
        height: 180vh;
        margin: 10px auto;

    }
}
    

.col{
    width: calc(100% / 3);
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
}
@media (max-width: 767px) {
    .col{
        width: 100%;
        height: 500px;
       

    }
}
.col .title {
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: -3px;
    font-weight: normal;
}
.col .text {
 color: var(--white);
 line-height: 1.4;    
}
.col button {
width: 50%;
padding: 15px 0;
border-radius: 25px;
font-size: 17px;
border: 2px solid var(--cyan);
cursor: pointer;
transition: 0.5s;
}
.col:first-child{
    background-color: var(--orange);
    border-radius: 12px 0 0 12px;

}
@media (max-width: 767px) {
    .col:first-child{
        border-radius: 12px 12px 0 0;

    }
}
.col:nth-child(2){
    background-color: var(--cyan);


}
.col:last-child{
    background-color: var(--cyan2);
    border-radius: 0 12px 12px 0;

}
.col:first-child button{
   color: var(--orange);
   border: 1px solid var(--white); 
}
.col:first-child button:hover{
   background-color: var(--orange);
   color: var(--white);
   
}
 
.col:nth-child(2) button{
   color: var(--cyan);
   border: 1px solid var(--white); 
}
.col:nth-child(2) button:hover{
   background-color: var(--cyan);
   color: var(--white);
   
}
.col:last-child button{
   color: var(--cyan2);
   border: 1px solid var(--white); 
}
@media (max-width: 767px) {
    .col:last-child{
        border-radius: 0 0 12px 12px;

    }
}
.col:last-child button:hover{
   background-color: var(--cyan2);
   color: var(--white);
   
}
 